.animation-effect-scroll:not(.animation-mobile) #animation-scrollbar, .sidebar-single , .animation-work-scrollbar {
  overflow: hidden;
  height: 100vh;

  .scrollbar-track {
    background: none;
    width: 5px;

    .scrollbar-thumb {
      background: #424242;
      width: 5px;
    }
  }
}

.admin-bar.animation-effect-scroll:not(.animation-mobile) #animation-scrollbar, .sidebar-single  , .animation-work-scrollbar{
  $narrow-offset: 46px;
  $wide-offset: 32px;
  height: calc(100vh - #{$narrow-offset});

  @media screen and (min-width: 783px) {
    height: calc(100vh - #{$wide-offset});
  }
}

.locked-scroll #animation-scrollbar {
  background-color: $bg-dark;
}
